In [51]:
import pickle
import numpy as np
import pandas as pd
import time

In [55]:
train_data= pd.read_csv(r'C:\Users\chandan sharma\Desktop\spoonsht\science_bot\science_bot\snoopshottrain.csv');

In [56]:
test_data = pd.read_csv(r'C:\Users\chandan sharma\Desktop\spoonsht\science_bot\science_bot\test.csv')

In [57]:
train_data[:1]

,id,answerA,answerB,answerC,answerD,correctAnswer,question
0,415,reflected sunlight,absorbed light from Earth's atmosphere,gases in the Moon's interior,volcanic eruptions on the Moon's surface,A,The Moon is visible to observers on Earth beca...

In [58]:
question,choices,answer,ids=train_data['question'],train_data[['answerA','answerB','answerC','answerD']],train_data['correctAnswer'],train_data['id'],

In [59]:
print ('\nQUESTION /%s: %s'% ( len(train_data), question))

QUESTION /4610: 0       The Moon is visible to observers on Earth beca...
1       Which order of succession of natural communiti...
2       If the solar system were used as a model of an...
3       Which of the following statements best describ...
4       Which unit of measurement can be used to descr...
5       When buried sediments are subjected to pressur...
6                         Which is an example of melting?
7       Which of the following BEST describes electron...
8       A meteorologist records data for a city on a c...
9       Which of these statements is most accurate abo...
10      Base your answer on the information below and ...
11         Which organ removes cell waste from the blood?
12      Endothermic reactions are reactions that requi...
13      Heat is applied to a beaker of water, raising ...
14      What happens to a ray of white light when it p...
15      Which renewable resource is used with photovol...
16      Which kind of rock is produced by deposition a...
17      Which two processes are common to all living t...
18      Which of the following sets contains only obje...
19      Which two systems of the body are interacting ...
20                     A galaxy is made up of __________.
21      Genes are located on chromosomes which are com...
22      Which instrument would be used when studying a...
23      In which example could a thermometer be used t...
24      Which two subatomic particles have approximate...
25      Some meteorologists use visual aids such as di...
26      A lizard species mostly eats fruit from one pa...
27      Perfume sprayed from a bottle spreads more eas...
28      What do birds, bats and butterflies have in co...
29      Which statement is the best description of the...
                              ...
4580    Which best describes the characteristics of a ...
4581    Which human body system forms a barrier betwee...
4582    Which of the following statements about galaxi...
4583    An organism eats grass and is preyed upon by a...
4584    Some forests develop after farmland is abandon...
4585    Which process causes the fastest changes to th...
4586    Which model is used by scientists to determine...
4587    A scientist in South America has been observin...
4588    Which best illustrates the sequence of steps t...
4589    Which of the following can be caused by weathe...
4590    To make an electromagnet, a conductor should b...
4591    The change of position relative to a reference...
4592    Which statement best compares single-celled an...
4593    Which of the following would be most useful fo...
4594         Which of the following is a SOURCE of light?
4595    Freda always hangs her wet swimsuit outdoors a...
4596    A recent scientific study funded by a medical ...
4597    The hormone insulin is secreted by the pancrea...
4598    Light travels fastest through which of the fol...
4599    What advantage do sea stars gain from having r...
4600    A female dog is having puppies. She has black ...
4601    Which of the following statements best explain...
4602    The students in an engineering class built a r...
4603      Which statement best describes a liquid sample?
4604    The continuous changing of Earth's surface is ...
4605    Why is natural selection said to act on the ph...
4606    After the formation of the Sun but before the ...
4607    Which property of proteins best allows them to...
4608    Antibiotics, commonly used to treat infection,...
4609    Steel is used for cables in suspension bridges...
Name: question, Length: 4610, dtype: object

choice_scores = answer_scores(question, choices)

In [65]:
import unicodedata
import unicodedata

In [66]:
def to_unicode(string, ):
    """
    Force bytes string to unicode
    - string: any string
    """
    if not isinstance(string, unicode):
        return string.decode('utf-8')
    return string

In [68]:
#question = to_unicode(question)

In [71]:
def is_negative_question(question, lang='en'):
    """
    Function to check whether the question is negative question.
    example : 'Among ..., which ... is NOT ... ?'
    - question: target question
    - lang: language of the question
    """
    if lang != 'en':
        raise ValueError("other languages that french aren't implemented")

    # Define negative patterns
    negative_patterns = [" n'", " ne "]

    # Detect negative patterns
    for negative_pattern in negative_patterns:
        if negative_pattern in question:
            return True
    return False

In [72]:
is_negative = is_negative_question(question)

In [73]:
is_negative

False

In [76]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [87]:
import nltk
from nltk.corpus import stopwords
set(stopwords.words('english'))

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [92]:
train_data['char_count'] = train_data['question'].str.len() ## this also includes spaces
train_data[['question','char_count']].head()

                                            question  char_count
0  The Moon is visible to observers on Earth beca...          52
1  Which order of succession of natural communiti...          91
2  If the solar system were used as a model of an...          94
3  Which of the following statements best describ...          95
4  Which unit of measurement can be used to descr...          71

In [93]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

train_data['avg_word'] = train_data['question'].apply(lambda x: avg_word(x))
train_data[['question','avg_word']].head()

                                            question  avg_word
0  The Moon is visible to observers on Earth beca...  4.300000
1  Which order of succession of natural communiti...  5.133333
2  If the solar system were used as a model of an...  4.000000
3  Which of the following statements best describ...  5.000000
4  Which unit of measurement can be used to descr...  4.142857

In [94]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

train_data['stopwords'] = train_data['question'].apply(lambda x: len([x for x in x.split() if x in stop]))
train_data[['question','stopwords']].head()

                                            question  stopwords
0  The Moon is visible to observers on Earth beca...          5
1  Which order of succession of natural communiti...          4
2  If the solar system were used as a model of an...          9
3  Which of the following statements best describ...          7
4  Which unit of measurement can be used to descr...          7

In [97]:
train_data['hastags'] = train_data['question'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
train_data[['question','hastags']].head()

                                            question  hastags
0  The Moon is visible to observers on Earth beca...        0
1  Which order of succession of natural communiti...        0
2  If the solar system were used as a model of an...        0
3  Which of the following statements best describ...        0
4  Which unit of measurement can be used to descr...        0

In [98]:
train_data['numerics'] = train_data['question'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
train_data[['question','numerics']].head()

                                            question  numerics
0  The Moon is visible to observers on Earth beca...         0
1  Which order of succession of natural communiti...         0
2  If the solar system were used as a model of an...         0
3  Which of the following statements best describ...         0
4  Which unit of measurement can be used to descr...         0

In [99]:
#transform in to lowecase
train_data['question'] = train_data['question'].apply(lambda x: " ".join(x.lower() for x in x.split()))
train_data['question'].head()

0    the moon is visible to observers on earth beca...
1    which order of succession of natural communiti...
2    if the solar system were used as a model of an...
3    which of the following statements best describ...
4    which unit of measurement can be used to descr...
Name: question, dtype: object

In [101]:
#remove puntuations
train_data['question'] = train_data['question'].str.replace('[^\w\s]','')
train_data['question'].head()

0    the moon is visible to observers on earth beca...
1    which order of succession of natural communiti...
2    if the solar system were used as a model of an...
3    which of the following statements best describ...
4    which unit of measurement can be used to descr...
Name: question, dtype: object

In [104]:
#remove stopwords
from nltk.corpus import stopwords
stop = stopwords.words('english')
train_data['question'] = train_data['question'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train_data['question'].head()

0                         moon visible observers earth
1    order succession natural communities would lik...
2    solar system used model atom would sun likely ...
3    following statements best describes role gravi...
4           unit measurement used describe length desk
Name: question, dtype: object

In [105]:
#common word removal
freq = pd.Series(' '.join(train_data['question']).split()).value_counts()[:10]

In [ ]:
freq

In [118]:
print(word_tokenize(train_data['question'][1]))

['order', 'succession', 'natural', 'communities', 'occur', 'new', 'york', 'state']

In [119]:
train_data['question']

0                                  moon visible observers
1       order succession natural communities occur new...
2              solar system used model atom sun represent
3                 statements role gravity formation stars
4              unit measurement used describe length desk
5       buried sediments subjected pressure mineral gr...
6                                         example melting
7                                    electrons found atom
8       meteorologist records data city certain date d...
9                                 statements accurate sun
10      base answer information knowledge science base...
11                         organ removes cell waste blood
12      endothermic reactions reactions require start ...
13      heat applied beaker raising temperature degree...
14                   happens ray white light passes prism
15      renewable resource used photovoltaic cells pro...
16              kind rock produced deposition cementation
17                         processes common living things
18      sets contains objects shine result reflected l...
19          systems body interacting runner sprains ankle
20                                 galaxy made __________
21                     genes located chromosomes composed
22        instrument used studying unit amphibian anatomy
23      example could thermometer used show heat trans...
24                 subatomic particles approximately mass
25      meteorologists use visual aids diagrams maps c...
26      lizard species mostly eats fruit one particula...
27      perfume sprayed bottle spreads easily warm roo...
28                          birds bats butterflies common
29                 statement description milky way galaxy
                              ...
4580                          characteristics river basin
4581    human body system forms barrier internal body ...
4582                            statements galaxies false
4583    organism eats grass preyed upon carnivore cate...
4584    forests develop farmland abandoned grasses may...
4585               process causes fastest changes surface
4586    model used scientists determine properties ele...
4587    scientist south america observing behavior par...
4588    illustrates sequence steps followed solving te...
4589                                    caused weathering
4590           make electromagnet conductor coiled around
4591    change position relative reference point objec...
4592    statement compares singlecelled multicelled or...
4593               useful calculating density rock sample
4594                                         source light
4595    freda always hangs wet swimsuit outdoors getti...
4596    recent scientific study funded medical corpora...
4597    hormone insulin secreted pancreas activity tri...
4598                                light travels fastest
4599             advantage sea stars gain radial symmetry
4600    female dog puppies black fur brown eyes curly ...
4601    statements explains tilt axis causes summer wa...
4602    students engineering class built robot stacks ...
4603                              statement liquid sample
4604    continuous changing earths surface evidence su...
4605    natural selection said act phenotype organism ...
4606    formation sun formation planets property solar...
4607    property proteins allows perform enormously di...
4608    antibiotics commonly used treat infection work...
4609        steel used cables suspension bridges capacity
Name: question, Length: 4610, dtype: object